<VirtualHost *:80>

  # Admin email, Server Name (domain name) and any aliases
  ServerAdmin admin@example.com
  ServerName laravel.build
  ServerAlias www.laravel.build
  DocumentRoot /srv/sites/laravel/public

</VirtualHost>

<VirtualHost *:443>

  ServerAdmin admin@example.com
  ServerName laravel.build
  ServerAlias www.laravel.build

  # ----------------------------------------------------------------------
  # | Environment Variables                                              |
  # ----------------------------------------------------------------------

  SetEnv  ENV  local

  # ----------------------------------------------------------------------
  # | HTTP Var                                                           |
  # ----------------------------------------------------------------------


  # ----------------------------------------------------------------------
  # | Document Root                                                      |
  # ----------------------------------------------------------------------

  DocumentRoot /srv/sites/laravel/public

  # ----------------------------------------------------------------------
  # | Options and Overrides                                              |
  # ----------------------------------------------------------------------

  <Directory /srv/sites/>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  <Files "xmlrpc.php">
    Order Allow,Deny
    deny from all
  </Files>


  # ----------------------------------------------------------------------
  # | Logging                                                            |
  # ----------------------------------------------------------------------

  LogLevel warn
  ErrorLog ${APACHE_LOG_DIR}/laravel_error.log
  CustomLog ${APACHE_LOG_DIR}/laravel_access.log combined

  # ----------------------------------------------------------------------
  # | SECURITY                                                           |
  # ----------------------------------------------------------------------

  <IfModule mod_headers.c>
    Header unset ETag
    Header unset X-Powered-By
    Header set X-UA-Compatible "IE=edge,chrome=1"
    Header always append X-Frame-Options SAMEORIGIN
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"

    <FilesMatch "\.(php|pdf)$">
      Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
      Header set Pragma "no-cache"
      Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </FilesMatch>
  </IfModule>

  FileETag None

</VirtualHost>